/* 
* 	Stylus file for personal homepage
*	Author:		Christopher Zotter
*/

/* Define global variables*/
@import 'src/global'
@import 'src/head'
@import 'src/detail'
@import 'src/main'
@import 'src/footer'
