div.headdetail
	width 100%
	height 200px
	background url( '../img/background.jpg' ) repeat-x transparent

div.headdetail header
	width 100%
	height 67px
	background url( '../img/navigation_bg.png' ) repeat-x transparent


div.headdetail header .main
	font-size 50px
	margin-top 78px
	text-shadow 1px 1px 0 #666
	font-family 'Inika',serif

div.container div.info 
	margin-top 50px!important

div.container div.info div.pic
	border 1px solid #CACACA
	float left

div.container div.info div.pic img
	border 4px solid white

div.container div.info div.aboutme
	float left
	margin-left 30px
	width 650px

div.container div.info div.aboutme h3
	margin 10px 0px 20px 0px
	font-size 30px
	color #505050
	text-shadow  -1px -1px 0px #202020, 1px 1px 0px #fff