div.head{width:100%;height:494px;background:url("../img/background.jpg") repeat-x transparent}
div.head header{width:100%;height:67px;background:url("../img/navigation_bg.png") repeat-x transparent}
div.head header .navigation{width:900px;margin:0 auto;color:#fff;padding-top:25px;text-transform:uppercase}
div.head header .navigation .logo{font-size:25px;float:right}
div.head header .navigation .logo span.prename{color:#323c66;text-shadow:1px 1px 0 #658fb5}
div.head header .navigation .logo span.name{color:#658fb5;text-shadow:1px 1px 0 #323c66}
div.head header .navigation nav{float:left;font-family:'Exo',sans-serif}
div.head header .navigation nav ul{margin:2px 0 0 0;padding:0;list-style-type:none;font-size:13px}
div.head header .navigation nav ul li{float:left;margin-left:18px;letter-spacing:1px}
div.head header .main{text-align:center;margin-top:70px}
div.head header .main .name{font-size:35px;text-shadow:1px 1px 0 #666;font-family:'Inika',serif}
div.head header .main .slogan{font-size:15px;margin-top:30px;text-shadow:1px 1px 0 #666;letter-spacing:1.2px}
div.head header .main .mac{position:relative;top:45px}
