div.container
	width 100%
	text-align center
	min-height 120px
	background-color #444444
	background-image -webkit-gradient(linear, left top, left bottom, from(#B3B3B3), to(#FFF)) /* Saf4+, Chrome */
	background-image -webkit-linear-gradient(top, #B3B3B3, #FFF) /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image    -moz-linear-gradient(top, #B3B3B3, #FFF) /* FF3.6 */
	background-image     -ms-linear-gradient(top, #B3B3B3, #FFF) /* IE10 */
	background-image      -o-linear-gradient(top, #B3B3B3, #FFF) /* Opera 11.10+ */
	background-image         linear-gradient(to bottom, #B3B3B3, #FFF)

div.container .info
	width 900px
	text-align left
	margin 80px auto 20px auto

div.container .info .first
	margin-right 25px

div.container .info .item
	float left
	width 425px

div.container .info .item .title
	font-size 20px
	margin-bottom 15px
	font-family 'Exo',sans-serif

div.container .info .item .content
	margin-bottom 15px 

div.container .info .item .detaillink
	font-weight bold